html,
body {
  height: 100%;
}

.encabezado {
  display: flex;
  font-family: "Satisfy";
  justify-content: space-between;
  margin: 20px;
}

.titulo {
  margin: 10px;
}

.carrito {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.carrito img {
  width: 9%;
  margin: 10px;
}

.carrito h4 {
  font-size: medium;
}

.banner {
  background-image: url("./assets/banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 50vh;
}

.pageTitle {
  text-align: center;
}

.products {
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 10px;
  width: 18rem;
}

.contact-info {
  text-align: center;
}

.carrito-detail {
  flex-direction: column;
}

.carrito-control {
  display: flex;
  justify-content: space-between;
}
